<nav class="navbar navbar-dark bg-primary p-l-1 p-r-1">
  <div class="container-fluid">
    <ul class="nav navbar-nav hidden-md-up">
      <li class="nav-item">
        <button class="navbar-toggler" id="menu-toggle" style="color: white;" type="button">
          &#9776;
        </button>
      </li>
    </ul>

    <a class="navbar-brand" href="#">
      {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}
    </a>

    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item dropdown">
        <a href="#" id="dLabel" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="fa fa-sign-out"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
