<div id="sidebar-wrapper">
    <div class="brand">
      <a href="#" class="brand-logo">APP NAME</a>
    </div>

    <div class="nav-profile">
      <div class="row">
        <div class="col-xs-3 p-r-0">
          <img src="img/user.jpg" class="img-fluid img-circle" alt="user" title="user">
        </div>
        <div class="col-xs-9">
          <div class="truncate user-name">
            Randa Wahyu Pradhana
          </div>
        </div>
      </div>
    </div>

    <nav>
      <p class="nav-title">NAVIGATION</p>
      <ul class="nav" id="navmenu">
        {% for menu in site.data.menus %}
        <li class="{% if menu.submenu %}panel{% endif %} {% if menu.active  %}active{% endif %}">
          {% if menu.submenu %}
            <a data-toggle="collapse" class="truncate" data-parent="#navmenu" href="#menuCollapse{{ forloop.index }}" aria-expanded="false" aria-controls="menuCollapse{{ forloop.index }}">
              <i class="{{ menu.icon }}"></i> {{ menu.name }}
            </a>

            <ul class="collapse sub-menu" id="menuCollapse{{ forloop.index }}">
              {% for submenu in menu.submenu %}
              <li>
                <a href="#">{{ submenu.name }}</a>
              </li>
              {% endfor %}
            </ul>

          {% else %}
            <a href="#" class="truncate"><i class="{{ menu.icon }}"></i> {{ menu.name }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
</div>
